.idea
.vscode
.run
target
play
build
*.ipr
*.iml
*.*~
*~

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

logs/*
*.out
!.gitkeep
node_modules

npm-debug.log
target-grunt
jslibs

/ansible/ansible-properties.yml
/docker/magma-core.jar