.idea
target
play
build
*.ipr
*.iml
*.*~
*~

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

logs/*
!.gitkeep
node_modules

npm-debug.log
target-grunt
jslibs

/src/main/resources/application.properties
ansible/ansible-properties.yml
core.log
archived/

